<main>
  <header>
    <h1>{{ title + " > " + 12}}</h1>
    <nav>
      <ul>
        <li><a routerLink="/" [title]="title">Bienvenue</a></li>
        <li><a routerLink="/questions">Es-tu bien sûr d'être (encore) humain ?</a></li>
        <li><a routerLink="/id">Créature, identifie-toi !</a></li>
      </ul>
    </nav>
  </header>
  <!-- <app-questions></app-questions> -->
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer>
    <nav>
      <ul>
        <li>Mentions légales</li>
        <li>ýœ</li>
      </ul>
    </nav>
  </footer>
</main>