/* You can add global styles to this file, and also import other style files */
html, body, main{
    padding: 0;
    margin:0;
    overflow: hidden;
    font-size:18px;
}
a{
    color: crimson;
    text-decoration: none;
    transition:all .3s ease;
}
a:hover{
    color:darkorange;
}
form{
    display:flex;
    flex-flow: column wrap;
    padding:20px;
}
form>*{
    margin:10px auto;
}
input{
    border:none;
    box-shadow: 0px 0px 3px black;
    padding:5px 8px;
}
.ng-valid{
    transform:scale(1.1) rotate(45deg);
}

form.ng-touched{
    background-color: yellow;
}
input.ng-touched{
    background-color: black;
    color:white;
}
.ng-dirty{}